<h1> User <%= @user.name%> </h1> 
<h2> <%= link_to 'Back', posts_path%>

<section id="all-links">
    <% if @user.id == current_user.id %>

    <% elsif current_user.followees.include?(@user) %>
        <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
    <% else %>
        <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
    <% end%>
    <br>
    <%= link_to 'Followers', followers_user_path(@user)  %>
    <%= link_to 'Following', following_user_path(@user) %>
</section>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Author</th>
            <th>Created at</th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %> <%#посты этого автора%>
            <tr>
                <td><%= post.id%></td>
                <td><%= post.title%></td>
                <td><%= post.body%></td> 
                <td><%= post.author%></td>
                <td><%= post.created_at%></td>
            </tr>
        <%end%>
    </tbody>
<table>
