<%= form_with model: post, url: post_path, method: :post  do |f| %>
 <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>

  
    <%= f.submit %>
<%end%>

