<h1>Create you post</h1>
<%= form_for :post, url: posts_path do |f| %>
 <div class="form-group">
<label class="col-sm-4 col-form-label">Avatar:
<% if current_user.avatar.present? %><br />Current: 
  <%= current_user.avatar.filename.to_s %>
<% end %>
</label>
<div class="col-sm-8"><%= f.file_field :photo, class: "form-control" %></div>
</div>
    
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>

   <p>
    <%= f.submit %>
  </p>
<% end %>