<h1>Post</h1>

<div>
    <%= @post.title%>
</div>

 <div>
    <%= @post.body%>
</div>

 <div>
    <%= @post.author %>  
</div> 

<% @post.comments.each do |comment|%>
    <li>
      <%= comment.user.name%>
      <%= comment.body%>
      <%= link_to 'Edit', edit_post_comment_path(comment) %>
    </li>
  <%end%>


<%= form_with model: @post.comments.build, url: [@post, @post.comments.build] do |f| %>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

    <div>
        <%= f.submit %>
    </div> 
    
 
<% end %>
<%= link_to 'Back', posts_path%>

<%= link_to 'Delete', post_path(@post), method: :delete %>