<h1>Post</h1>

<div>
    <%= @post.title%>
</div>

<div>
  <% if @post.photo.present?%>
    <%= image_tag(@post.photo, height: 720, width: 480, class: "rounded-circle")%>
  <%end%>
</div>


 <div>
    <%= @post.body%>
</div>

 <div>
    <%= @post.author %>  
</div> 
<%# показывает количество лайков %>
<p><%= @post.likes.count %> <%=(@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %> 
<% if pre_like %> 
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %> 
<% else %> 
  <%= button_to 'Like', post_likes_path(@post), method: :post %> 
<% end %>


<% @post.comments.each do |comment|%>
    <li>
    <% params = {:post_id => comment.post_id, :id => comment.id }%>
      <%= comment.user.name%>
      <%= comment.body%>
      <%if current_user.name == @post.author%>
      <%= link_to 'Update', edit_post_comment_path(params)%>
      <%= link_to 'Delete', post_comment_path(params), method: :delete %>
      <%end%>
    </li>
  <%end%>


<%= form_with model: @post.comments.build, url: [@post, @post.comments.build] do |f| %>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

    <div>
        <%= f.submit %>
    </div> 
    
<% end %>
<%= link_to 'Back', posts_path%>
<%if current_user.name == @post.author%>
<%= link_to 'Delete', post_path(@post), method: :delete %>
<% end %>